

{{#if isDeleteShowing}}
    <div class="prereq">
      <h2 class="helpcoming">Help is on the way! No need to worry. We are here to help! </h2>
    </div>    
    <button class="nevermind" {{action 'delete' ticket}}>Oh, wait... nevermind... <br> I figured it out </button>
  {{else if isClosedShowing}}
    <div class="prereq">
      <p>Your ticket has been closed.</p>
    </div>
    <button class="backhome">{{#link-to 'index'}}Ask For Help Again!{{/link-to}}</button>
{{/if}}
