.purplebutton {
  font-size: 1.5rem;
  background: $blue-theme;
  border: none;
  border-radius: 10px;
  color: $light-text;
  padding: 10px 50px;
  &:hover {
    cursor: pointer;
    background: $purplehover;
    text-shadow: 2px 2px 2px $offblack;
  }
}

.subheader a {
  display: inline-block;
  padding: 10px;
  background: darken($darkblue, 10%);
  &:hover {
    cursor: pointer;
    background: $purplehover;
    text-shadow: 2px 2px 2px $offblack;
  }
}


.help-box button {
  @extend .purplebutton;
}

.help-box button:hover {
  @extend .purplebutton;
}

.help-box .nevermind,
.help-box .backhome {
  @extend .purplebutton;
  font-size: 1rem;
  &:hover {
    font-size: 1rem;
  }
}


.queue-box button {
  @extend .purplebutton;
  font-size: 1rem;
  padding: 5px 10px;
}
.queue-box button:nth-child(3) {
  @extend .purplebutton;
  font-size: 1rem;
  padding: 5px 10px;
  background: $delete-red;
  &:hover {
    font-size: 1rem;
    background: $red-hover;
  }
}
