.purplebutton {
  font-size: 1.5rem;
  background: #478;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px 50px;
  &:hover {
    cursor: pointer;
    background: #859;
    border-bottom: 4px solid #637;
    text-shadow: 2px 2px 2px #111;
  }
}

.subheader a {
  display: inline-block;
  padding: 10px;
  background: darken($darkblue, 10%);
  &:hover {
    cursor: pointer;
    background: #859;
    text-shadow: 2px 2px 2px #111;
  }
}


.help-box button {
  @extend .purplebutton;
}

.help-box button:hover {
  @extend .purplebutton;
}

.help-box .nevermind,
.help-box .backhome {
  @extend .purplebutton;
  font-size: 1rem;
  &:hover {
    font-size: 1rem;
  }
}
