header {
  background: $blue-theme;
  text-align: center;
  #title {
    color: $light-text;
    margin: 0;
    padding: 1rem 0;
    font-family: sans-serif;
    font-weight: 200;
  }
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $darkblue;
  padding-left: 5px;
  h2 {
    display: inline-block;
    margin: 0;
    text-align: left;
    color: $light-text;
    font-size: 1rem;
  }
}
