// Colors
$offblack: #111;
$darkpurple: #637;
$purplehover: #859;
$lightgrey: #aaa;
$greywhite: #ccc;
$offwhite: #ddd;
$light-text: #fff;
$blue-theme: #478;
$darkblue: #367;
$bg-grey: #eee;
$delete-red: #733;
$red-hover: #c43;

// Media Queries
$medscreen: 640px;
$largescreen: 1024px;
