
<div class="subheader">
  <h2>Ask For Help!</h2>
  {{#link-to 'teacher'}}Teacher Portal{{/link-to}}
</div>
<div class="help-box">
  {{new-ticket ticket=ticket saveTicket="saveTicket" destroyTicket="destroyTicket"}}
</div>
