
<div class="subheader">
  {{#link-to 'teacher'}}Teacher Portal{{/link-to}}
</div>
<div class="current-page">
  <h2>Student</h2>
  <h3>Ask For Help!</h3>
</div>
<div class="help-box">
  {{new-ticket ticket=ticket saveTicket="saveTicket" destroyTicket="destroyTicket"}}
</div>
