<div class="subheader">
  <h2>Help Students Out!</h2>
  {{#link-to 'index'}}Student Portal{{/link-to}}
</div>
<div class="queue-box">
  <ul>
    {{#each model as |ticket|}}
      {{ticket-tile ticket=ticket saveTicket="saveTicket" destroyTicket="destroyTicket"}}
    {{/each}}
  </ul>
</div>
